<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Henry & sons | Home</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://kit.fontawesome.com/dc8ee980c4.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  
  <header>
    <a class="home-btn" href="/"><i class="fa-solid fa-house"></i></a>
    <h1 class="display-2 text-center">Products</h1>
    <div class="cart-icon-and-badge">
      <a class="home-btn" href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
      <span id="cart-count">0</span>
    </div>
  </header>

  <div class="container-fluid">
    <!-- Update Modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="updateModalLabel">Update Product</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="addProductForm">
              <input type="hidden" name="productId">

              <h4 class="fs-6">Product Name</h4>
              <input type="text" name="updatedName" placeholder="Nike Jordans">
              
              <h4 class="fs-6">Image Url</h4>
              <input type="text" name="updatedImg" placeholder="Paste the image url">

              <h4 class="fs-6">Price</h4>
              <input type="number" name="updatedPrice" placeholder="0">

              <h4 class="fs-6">Quantity</h4>
              <input type="number" name="updatedQuantity" placeholder="0">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary"
              onclick="updateProduct()">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete item Modal -->
    <div class="modal fade" id="deleteItemModal" tabindex="-1" aria-labelledby="deleteItemModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteItemModalLabel">Delete Product</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body center">
            Are you sure?
            <input type="text" id="deleteId" hidden>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" onclick="deleteItem()">Yes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Add new item Modal -->
    <div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="addItemModalLabel">Add Product</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <h4 class="fs-6">Product Name</h4>
              <input type="text" name="name" placeholder="Nike Jordans">
              
              <h4 class="fs-6">Image Url</h4>
              <input type="text" name="img" placeholder="Paste the image url">

              <h4 class="fs-6">Price</h4>
              <input type="number" name="price" placeholder="0">

              <h4 class="fs-6">Quantity</h4>
              <input type="number" name="quantity" placeholder="0">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary"
              onclick="addProduct()">Add</button>
          </div>
        </div>
      </div>
    </div>

    <div class="best-sellers row">

      <% for (let i = 0; i < products.length; i++) { %>
        <% const product = products[i]; %>
        <div class="col-md-3 col-sm-4">
          <div class="product card">
            <% if (typeof isAdmin !== 'undefined') { %>
              <div class="admin-controls">
                <i class="update-btn fa-solid fa-pen" data-bs-toggle="modal" data-bs-target="#updateModal"
                  onclick="updateItemToUpdate('<%= product._id %>')"></i>
                <i class="delete-btn fa-sharp fa-solid fa-trash" data-bs-toggle="modal" data-bs-target="#deleteItemModal"
                  onclick="updateItemToDelete('<%= product._id %>')"></i>
              </div>
            <% } %>
            <div class="center">
              <img src="<%= product.img %>" alt="" class="product-img">
            </div>
            <div class="product-details">
              <h4 class="product-name"><%= product.name %></h4>
              <h4 class="product-price">$<%= product.price %></h4>
              <h4 class="product-quantity"><%= product.quantity %> Left</h4>
              <h4 class="product-date"><%= // new Date(product.createdAt) %></h4>
              <i class="fa-solid fa-plus add-to-cart-btn"
                onclick="addToCart('<%= product._id %>')"></i>
              <!-- onclick add the item to a cart collection then update the badge with the count -->
            </div>
          </div>
        </div>
      <% } %>
    </div>

    <!-- Admin controls to add an item -->
    <% if (typeof isAdmin !== 'undefined') { %>
      <div class="add-new-card" data-bs-toggle="modal" data-bs-target="#addItemModal">
        <i class="fa-solid fa-plus"></i>
      </div>
    <% } %>
  </div>

  <script src="script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>